// background.scss

@use 'variables' as v;

body {
    font-family: v.$font-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background: v.$cats-gradient;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background 1.2s ease-in-out;
    &.no-background {
        background: #f7bcbc !important;
        transition: none !important;
        animation: none !important;
        &:after {
            background: v.$secondary-color !important;
            transition: none !important;
            animation: none !important;
        }
    }
    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/cat-pattern.svg');
        background-size: 150px 150px;
        background-repeat: repeat;
        opacity: 0.15;
        pointer-events: none;
        z-index: -1;
        filter: brightness(0) invert(1);
        transition: background 0.8s ease-in-out, opacity 0.8s ease-in-out;
        animation: diagonal-scroll 260s linear infinite;
    }

    &.dogs-layout {
        background: v.$dogs-gradient;
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        &.no-background {
            background: #8ed4b3 !important;
        }
        &::after {
            background: url('../images/dog-pattern.svg');
            background-size: 150px 150px;
        }
    }

    &.birds-layout {
        background: v.$birds-gradient;
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        &.no-background {
            background: #ffcc70 !important;
        }
        &::after {
            background: url('../images/bird-pattern.svg');
            background-size: 150px 150px;
        }
    }

    &.seaanimals-layout {
        background: v.$seaanimals-gradient;
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
        &::after {
            background: url('../images/sea-pattern.svg');
            background-size: 150px 150px;
        }
        &.no-background {
            background: #609cc7 !important;
        }

    }
}

@keyframes diagonal-scroll {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 100% 0;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}