body {
    font-family: "Work Sans", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background: linear-gradient(300deg, #f89ba5, #f7bcbc, #f77280);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background 1.2s ease-in-out; /* Smooth fade transition */
}

body.dogs-layout {
    background: linear-gradient(300deg, #4a9a74, #8ed4b3, #5cb88c);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

body.birds-layout {
    background: linear-gradient(300deg, #ffb347, #ffcc70, #e07b39);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

body::after {
    content: "";
    position: fixed; /* Keeps the pattern fixed while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/cat-pattern.svg');
    background-size: 150px 150px; /* Consistent tile size */
    background-repeat: repeat;
    opacity: 0.15; /* Set opacity to 10% */
    pointer-events: none; /* Allows interaction with elements below */
    z-index: -1; /* Places the pattern behind everything */
    filter: brightness(0) invert(1); /* Converts the pattern to white */
    
    /* Smooth transition for background change */
    transition: background 0.8s ease-in-out, opacity 0.8s ease-in-out;

    /* Separate animation for moving the pattern */
    animation: diagonal-scroll 260s linear infinite;
}


/* Dogs mode */
body.dogs-layout::after {
    background: url('../images/dog-pattern.svg');
    background-size: 150px 150px; /* Ensure consistent tiling size */
}

/* Birds mode */
body.birds-layout::after {
    background: url('../images/bird-pattern.svg');
    background-size: 150px 150px; /* Keep consistent tile size */
}

/* Sea mode */
body.seaanimals-layout::after {
    background: url('../images/sea-pattern.svg');
    background-size: 150px 150px; /* Keep consistent tile size */
}

@keyframes diagonal-scroll {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 100% 0;
    }
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}