// badges.scss

@use 'variables' as v;

.badge {
    width: 80px;
    height: 80px;
    border-radius: 25%;
    display: inline-flex;
    top: 0;
    transition: all 0.2s ease;
    box-shadow: 2px 3px 4px 1px rgba(v.$black, 0.33);
    background: v.$secondary-color;

    &--bg {
        .rounded {
            width: 72px;
            height: 72px;
            background: v.$white;
            margin: 4px 4px auto;
            z-index: 10;
            border-radius: 25%;
            box-shadow: 4px 4px 4px 2px rgba(v.$black, 0.23);
        }
    }
    &.badge--smaller {
        width: 44px;
        height: 44px;
        .rounded {
            width: 38px;
            height: 38px;
            background: v.$white;
            margin: 2px 3px auto;
            z-index: 10;
            border-radius: 25%;
            box-shadow: 4px 4px 4px 2px rgba(v.$black, 0.23);
        }
    }
    .cats-layout &--bg .rounded,
    &.badge--cats .rounded {
        background: v.$white url("../images/avatar/cat.jpg") no-repeat center center;
        background-size: 100%;
    }

    .dogs-layout &--bg .rounded,
    &.badge--dogs .rounded {
        background: v.$white url("../images/avatar/dog.jpg") no-repeat center center;
        background-size: 100%;
    }

    .birds-layout &--bg .rounded,
    &.badge--birds .rounded {
        background: v.$white url("../images/avatar/bird.jpg") no-repeat center center;
        background-size: 100%;
    }

    .seaanimals-layout &--bg .rounded,
    &.badge--seaanimals .rounded {
        background: v.$white url("../images/avatar/dolphin.jpg") no-repeat center center;
        background-size: 100%;
    }

}
