@keyframes spinWheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


#game-board-front {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(3, 1fr);   /* 3 rows */
    gap: 20px;
    display: none;
    transform: rotateY(180deg);
}

.card {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border: 2px solid #555;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s ease, background-color 0.3s ease, top 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cats-layout .card {
    background-image: url(../images/block-bg.svg);
}

.dogs-layout .card {
    background-image: url(../images/block-bg-dog.svg);
}

.birds-layout .card {
    background-image: url(../images/block-bg-bird.svg);
}

.card.revealed ,
.card.matched {
    background-size: 100%;
}

.card:hover {
    transform: translateZ(10px); /* Subtle pop-out effect */
}

/* Glow effect */
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.card:hover::after {
    opacity: 1; /* Show glow on hover */
}


.card.second-reveal {
    
    &::before {
        content: "Last Chance!!";
        padding-top: 3px;
        background: maroon;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 24px;
        text-align: center;
        color: white;
        font-size: 16px;
    }
}
/* mode rotate */

#game-board.rotate-mode.flip {
    border-radius: 50%;
    transition: transform 0.8s ease-in-out, background 0.5s ease-in-out, border-radius 0.5s ease 0.5s;
}

#game-board.rotate-mode #game-board-front {
    perspective: 1000px; /* Adds depth for 3D effect */
    transform-origin: center; /* Rotate around the center */
    animation: spinWheel 45s linear infinite;
    padding: 146px 90px;
}

#game-board.rotate-mode #game-board-front .card {
    width: 140px;
    height: 140px;
}


