#game-board {
    display: flex;
    margin-top: 20px;
    perspective: 1000px; /* Adjust for more/less depth */
    padding: 15px;
    background: #d0e3f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease-in-out, background 0.5s ease-in-out, border-radius 0.5s;
    transform-origin: center; /* Rotate around the middle */
}

#game-board.rotate-mode {
    background: #f7e3d0;
}

#game-board.switch-row-mode{
    background: #d0f7d0;
}

#game-board.focus-mode{
    background: #f7d0d0;
}

/* Flip effect for the game board */
#game-board.flip {
    transform: rotateY(180deg);
    transition: transform 0.8s ease-in-out;
}

#game-board-back {
    width: 840px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

#timer {
    font-family: 'Digital-7', monospace;
    font-size: 40px;
    padding: 10px;
    background: #d0e3f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: -100px;
    left: 50%;
    translate: -50% 0;
    width: 300px;
    text-align: center;
    transition: top 0.5s ease-in-out
}

#timer.shown {
    top: 10px;
}

.pill-button {
    background-color: #001861;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px; /* Rounded pill */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pill-button:hover {
    background-color: #0056d6;
}


.pill-button--panel-switch {
    margin: 20px auto;
    z-index: 5;
}

.pill-button--active {
    background-color: #FF7F32;
}

.pill-button--change-name {
    position: fixed;
    top: 20px;
    right: 20px;
}

.pill-button--show-scores {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 7;
}


  