@use 'variables' as v;


#game-board {
    display: flex;
    margin-top: 20px;
    perspective: 1000px; // Adjust for more/less depth
    padding: 15px;
    background: v.$background-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease-in-out, background 0.5s ease-in-out, border-radius 0.5s;
    transform-origin: center; // Rotate around the middle
  
    &.rotate-mode {
  
      &.flip {
        border-radius: 50%;
        transition: transform 0.8s ease-in-out, background 0.5s ease-in-out, border-radius 0.5s ease 0.5s;
      }
  
      #game-board-front {
        perspective: 1000px; // Adds depth for 3D effect
        transform-origin: center; // Rotate around the center
        animation: spinWheel 45s linear infinite;
        padding: 146px 90px;
  
        .card {
          width: 140px;
          height: 140px;
        }
      }
    }

    &.flip {
      transform: rotateY(180deg);
      transition: transform 0.8s ease-in-out;
    }
  }
  
  #game-board-back {
    width: 840px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #timer {
    font-family: v.$font-secondary;
    font-size: 40px;
    padding: 10px;
    background: v.$background-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
    transition: top 0.5s ease-in-out;
  
    &.shown {
      top: 10px;
    }
  }
  
  .player-panel {
    position: fixed;
    top: 10px;
    right: 20px;
    background: #bbcbde;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
  
    &__profile {
      margin-bottom: 10px;
      display: flex;
    }
  
    &__name {
      word-break: break-word;
      width: 120px;
      padding-left: 10px;
      display: inline-flex;
      align-items: center;
      margin: auto 0 10px auto;
    }

    &__profile-left {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  
  #chart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
    border-bottom: 2px solid #333;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .bar {
      width: 15%;
      background-color: #007bff;
      margin: 0 10px;
      text-align: center;
      color: white;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
      transition: height 0.3s ease;
  
      span {
        display: block;
        margin-top: 10px;
      }
    }
  }
  
  @keyframes spinWheel {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  