#game-board {
    display: flex;
    margin-top: 20px;
    perspective: 1000px; /* Adjust for more/less depth */
    padding: 15px;
    background: #d0e3f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease-in-out, background 0.5s ease-in-out, border-radius 0.5s;
    transform-origin: center; /* Rotate around the middle */
}

#game-board.rotate-mode {
    background: #f7e3d0;
}

#game-board.switch-row-mode{
    background: #d0f7d0;
}

#game-board.focus-mode{
    background: #f7d0d0;
}

/* Flip effect for the game board */
#game-board.flip {
    transform: rotateY(180deg);
    transition: transform 0.8s ease-in-out;
}

#game-board-back {
    width: 840px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

#timer {
    font-family: 'Digital-7', monospace;
    font-size: 40px;
    padding: 10px;
    background: #d0e3f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: -100px;
    left: 50%;
    translate: -50% 0;
    width: 300px;
    text-align: center;
    transition: top 0.5s ease-in-out
}

#timer.shown {
    top: 10px;
}

.player-panel {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #bbcbde;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.player-panel__profile {
    margin-bottom: 10px;
    display: flex;
}

.player-panel .player-panel__name {
    word-break: break-word;
    max-width: 95px;
    padding-left: 10px;
    display: inline-flex;
    align-items: center;
}