h1 {
    margin:10px 0 0 0;
    font-size: 42px;
    color: #001861;
}



#game-board-back {
    min-width: 300px;
    min-height: 300px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

#game-board-front.rotate {
    perspective: 1000px; /* Adds depth for 3D effect */
    transform-origin: center; /* Rotate around the center */
    animation: spinWheel 45s linear infinite;
}

@keyframes spinWheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


.card {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
    border: 2px solid #555;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden; /* Ensures images do not overflow the card boundaries */
    position: relative; /* For easier handling of hidden states */
    transform-style: preserve-3d; /* Enable 3D transformations */
    transition: transform 0.2s ease, background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Initial drop shadow */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cats-mode .card {
    background-image: url(images/block-bg.svg);
}

.dogs-mode .card {
    background-image: url(images/block-bg-dog.svg);
}


.birds-mode .card {
    background-image: url(images/block-bg-bird.svg);
}


.card.revealed ,
.card.matched {
    background-size: 100%;
}


.card:hover {
    transform: translateZ(10px); /* Subtle pop-out effect */
}

/* Glow effect */
.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.card:hover::after {
    opacity: 1; /* Show glow on hover */
}


#timer {
    font-size: 30px;
    padding: 10px;
    background: #d0e3f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: -100px;
    left: 50%;
    translate: -50% 0;
    width: 300px;
    text-align: center;
    transition: top 0.5s ease-in-out
}

#timer.shown {
    top: 10px;
}

.pill-button {
    margin-bottom: 16px;
    background-color: #001861;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px; /* Rounded pill */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pill-button:hover {
    background-color: #0056d6;
}


.pill-button--panel-switch {
    margin: 20px auto;
}

.pill-button--active {
    background-color: #FF7F32;
}

.pill-button--change-name {
    position: fixed;
    top: 20px;
    right: 20px;
}

.pill-button--show-scores {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

#game-board {
    display: flex;
    margin-top: 20px;
    perspective: 1000px; /* Adjust for more/less depth */
    padding: 15px;
    background: #d0e3f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s ease-in-out;
    transform-origin: center; /* Rotate around the middle */
}


/* Flip effect for the game board */
#game-board.flip {
    transform: rotateY(180deg);
    transition: transform 0.8s ease-in-out;
}


  